# ignore model/POLYFINAL-NLP-PROGRAM directories
model/POLYFINAL-NLP-PROGRAM

# R-specific
.RData
.Rhistory
.Rapp.history
*-Ex.R
/*.Rcheck/
.Rproj.user/
*_cache/
/cache/
*.rdb
*.rdx

# Python-specific
.ipynb_checkpoints
*.py[cod]
*$py.class
.pytest_cache/
__pycache__/
*.pickle
*.pkl
*.h5
.jupyter/

# Common data files
*.csv
*.xlsx
*.tsv
*.parquet
*.feather
*.db
*.sqlite

# Logs
*.log
logs/

# IDE specific
.idea/
.vscode/

# Temp files
tmp/
temp/